.card {
  background: #f4f4f4;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  border: 1px solid rgba(255,255,255,0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.35);
}

.title {
  font-size: 15px;
  color: #0b0c0c;
  font-weight: 600;
  opacity: 0.8;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table thead th {
  background: #e8e8e8;
  padding: 12px;
  text-align: left;
  font-weight: 600;
  border-radius: 6px;
}

.table tbody tr + tr {
  margin-top: 6px;
}

.table td {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  color: #022c2c;
  font-weight: 500;
}

.table tbody tr:hover td {
  background: rgba(2, 68, 35, 0.016);
}

/* TIPOS */
.typeExpenseRow td {
  background: rgba(244, 67, 54, 0.1);
}

.typeRevenueRow td {
  background: rgba(76, 175, 80, 0.1);
}

.typeInvestmentRow td {
  background: rgba(33, 150, 243, 0.1);
}

.valueCell {
  font-weight: 600;
}

/* AÇÕES */
.actionsCell {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.iconBtn,
.iconBtnDelete {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 6px;
  transition: background 0.2s;
}

.iconBtn:hover {
  background: rgba(33, 150, 243, 0.15);
}

.iconBtnDelete:hover {
  background: rgba(244, 67, 54, 0.15);
}

.iconBtn svg {
  color: #2196f3;
}

.iconBtnDelete svg {
  color: #f44336;
}

/* PAGINAÇÃO */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.pagination button {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  background-color: #00d1b2;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.pagination button:hover {
  background-color: #00a58d;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.emptyText {
  text-align: center;
  padding: 20px;
  font-weight: 500;
  color: #666;
}
