# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Database
db.sqlite3

# Environment variables
*.env
.env
settings_local.py
secrets.py

# Logs
*.log
logs/

# IDEs
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Migrations (opcional, se quiser gerar no deploy)
**/migrations/*.py
!**/migrations/__init__.py