
:root {
  /* cores primárias */
  --primary: #00897B;
  --primary-dark: #00695C;
  --primary-light: #E0F2F1;
  --accent: #00897B;

  /* textos */
  --text-main: #1F2937;
  --text-light: #6B7280;
  --text-footer: #9CA3AF;
  --text-footer-link: #D1D5DB;

  /* fundos */
  --bg-light: #F9FAFB;
  --bg-white: #FFFFFF;
  --bg-header: #111827;
  --bg-hero-text: #e2e2e2;
  --bg-cta-border: #E5E7EB;
  --bg-card-shadow: rgba(0, 0, 0, 0.02);
  --bg-card-hover-shadow: rgba(0, 0, 0, 0.1);

  /* bot / hero */
  --bot-bg: var(--primary-dark);
  --bot-feature-bg: rgba(255, 255, 255, 0.1);
  --bot-feature-bg-hover: rgba(255, 255, 255, 0.15);
  --bot-feature-border: rgba(255,255,255,0.2);

  /* botões */
  --btn-primary-bg: var(--primary);
  --btn-primary-bg-hover: var(--primary-dark);
  --btn-outline-bg-hover: var(--primary-light);
  --btn-whatsapp-bg: #128C7E;
  --btn-whatsapp-bg-hover: #267F74;
  --btn-hero-bg-hover: #07ad9d;

  /* outros */
  --warning-bg: #FFF7ED;
  --warning-border: #FFEDD5;
  --warning-text: #9A3412;

  /* novas variáveis para modals/overlays */
  --overlay-bg: rgba(0,0,0,0.38);
  --danger: #e63946;
  --danger-dark: #cc2f3b;
  --bg-light-hover: rgba(0,0,0,0.05);

    /* card variants */
  --card-income-bg: #16a34a;
  --card-expense-bg: #dc2626;
  --card-balance-bg: #c99b10;
  --card-alert-bg: #eab308;

  --card-income-color: #ffffff;
  --card-expense-color: #ffffff;
  --card-balance-color: #ffffff;
  --card-alert-color: #1f2937;

  --danger: #f44336;
  --danger-dark: #c62828;
  --danger-alt: #952020;
  --danger-text: #7a1d1d;
  --danger-hover-bg: rgba(198, 40, 40, 0.1);
  --alert-link-bg: #ffe1e1;
  --alert-link-color: #a62121;
  --alert-link-hover: #ffcece;
  --alert-bg: #fff3f3;
  /* icon container */
  --icon-bg: rgba(255, 255, 255, 0.25);
}



* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;         /* remove qualquer margem */
  padding: 0;        /* remove espaçamento interno */
  font-family: var(--font-sans);
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden; /* evita rolagem lateral indesejada */
}
